.footer {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #f8f8f8;
  padding: 2rem 1rem;
  display: flex !important;
  flex-direction: row !important;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  gap: 2rem;
}

.footer-section {
  flex: 1 1 30px;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo {
  height: 2rem;
  width: auto;
  margin-bottom: 1rem;
}

.footer-description {
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: left;
}

.footer-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-nav a {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #04af70;
}

.social-section {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  display: flex;
  flex-direction: column !important;
}

.social-section a {
  color: #333;
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column !important;
}

.social-section a:hover {
  color: #04af70;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column !important;
    align-items: center !important;
  }

  .footer-section {
    width: 100%;
    text-align: center;
  }

  .logo-section {
    align-items: center;
  }

  .footer-description {
    text-align: center;
  }

  .social-section {
    margin-top: 10px;
    justify-content: center;
    flex-direction: row !important;
  }
}