@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

.scrollbar-thumb-rounded {
  scrollbar-width: thin;
  border-radius: 5px;
  scrollbar-color: #B2572B #edf2f7; /* thumb and track color */
}

.scrollbar-w {
  scrollbar-width: thin;
  border-radius: 10px;
  scrollbar-color: #B2572B #edf2f7; /* thumb and track color */
}