@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #B2572B !important; 
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #edf2f7 !important;
}

/* Firefox Scrollbar */
* {
  scrollbar-width: thin !important;
  scrollbar-color: #B2572B #edf2f7 !important; 
  user-select: none;
}

img {
  user-select: none;
  pointer-events: none;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 12px !important;
}

.scrollbar-thumb-rounded {
  scrollbar-width: thin !important;
  border-radius: 5px !important;
  scrollbar-color: #B2572B #edf2f7 !important;
}

.scrollbar-w {
  scrollbar-width: thin;
  border-radius: 10px;
  scrollbar-color: #B2572B #edf2f7; /* thumb and track color */
}


body{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}