.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
  height: 8vh;
}

.navbar.light {
  background-color: #fff;
  color: #333;
}

.navbar__logo a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}

.navbar__logo img {
  max-width: 200px;
  height: auto;
  transition: max-width 0.3s ease;
}

@media (max-width: 500px) {
  .navbar__logo img {
    max-width: 150px;
  }
}

.navbar__toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: inherit;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar__links li a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.navbar__close {
  display: block;
  position: absolute;
  top: -10px;
  right: 0px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: inherit;
}

.navbar__username {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar__profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* margin-right: 50px; */
  border: 2px solid #2a9d8f;
  cursor: pointer;
  transition: border 0.3s;
}

.navbar__profile-image:hover {
  border: 2px solid #04af70;
}

.navbar__dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  top: 50px; 
  right: 0;
  width: 160px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 1000;
}

.navbar__dropdown a,
.navbar__dropdown button {
  padding: 10px;
  color: #333;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
}

.navbar__dropdown a:hover,
.navbar__dropdown button:hover {
  background: #f0f0f0;
}

body.light-theme {
  background-color: #f0f0f0;
  color: #333;
}

/* Media Queries for responsive design */
/* Adjustments for mobile screen */

#theme-toggle-button {
  font-size: 8px;
  position: absolute;
  top: 2px;
  right: 5px;
  display: inline-block;
  width: 7em;
  cursor: pointer;
}

#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

#toggle:checked + svg #container {
  fill: #2b4360;
}

#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}