.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    background-color: #f0f0f0;
    opacity: 0;
    box-shadow: 0 0 5px 0 rgba(130, 255, 130, 0.6), 0 0 20px 5px rgba(145, 255, 145, 0.4);
    animation: fadeIn 2s ease forwards, glowEffect 3s ease forwards;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes glowEffect {
    0% {
      box-shadow: 0 0 5px 0 rgba(87, 255, 87, 0.6), 0 0 20px 5px rgba(98, 255, 98, 0.4);
    }
    50% {
      box-shadow: 0 0 10px 10px rgba(116, 249, 116, 0.8), 0 0 40px 15px rgba(143, 255, 143, 0.6);
    }
    100% {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
}
